/*  Index CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "montserrat", sans-serif;
  background-image: url("./files/games.jpg");
  background-size: cover;
  background-position: top center;
}

.app-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 15px 15px;
}

header input {
  width: 100%;
  max-width: 280px;
  padding: 10px 15px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 16px 0px 16px 0px;
  border-bottom: 3px solid #df8e00;

  color: #313131;
  font-size: 20px;
  font-weight: 300;
  transition: 0.2s ease-out;
}

main {
  flex: 1 1 100%;
  padding: 25px 25px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.location .city {
  color: snow;
  font-size: 28px;
  font-weight: 900;
  margin-bottom: 5px;
  background-color: cornflowerblue;
  padding: 12%;
  border-radius: 50%;
  line-height: 40px;
}

.wrapperstart {
  text-align: center;
  max-width: 900px;
  width: 150px;

  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

#Tittlehead {
  text-align: center;
  color: rgb(59, 96, 165);
  font-size: 35px;
}

#username {
  text-align: center;
  font-size: 35px;
  color: rgb(59, 96, 165);
}
